/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
#content {
  /* Reset box-model and set borders */
  /* ============================================ */
  /* Document */
  /* ============================================ */
  /**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
  /* Sections */
  /* ============================================ */
  /**
 * Remove the margin in all browsers.
 */
  /**
 * Render the `main` element consistently in IE.
 */
  /* Vertical rhythm */
  /* ============================================ */
  /* Headings */
  /* ============================================ */
  /* Lists (enumeration) */
  /* ============================================ */
  /* Lists (definition) */
  /* ============================================ */
  /* Grouping content */
  /* ============================================ */
  /**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
  /**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
  /* Text-level semantics */
  /* ============================================ */
  /**
 * Remove the gray background on active links in IE 10.
 */
  /**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
  /**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
  /**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
  /**
 * Add the correct font size in all browsers.
 */
  /**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
  /* Embedded content */
  /* ============================================ */
  /**
 * Prevent vertical alignment issues.
 */
  /* Forms */
  /* ============================================ */
  /**
 * Reset form fields to make them styleable
 */
  /**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
  /**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
  /**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
  /**
 * Correct the inability to style clickable types in iOS and Safari.
 */
  /**
 * Remove the inner border and padding in Firefox.
 */
  /**
 * Restore the focus styles unset by the previous rule.
 */
  /**
 * Remove arrow in IE10 & IE11
 */
  /**
 * Remove padding
 */
  /**
 * Reset to invisible
 */
  /**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
  /**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
  /**
 * Remove the default vertical scrollbar in IE 10+.
 */
  /**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
  /**
 * 1. Correct the outline style in Safari.
 */
  /**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
  /**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
  /**
 * Clickable labels
 */
  /* Interactive */
  /* ============================================ */
  /*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
  /*
 * Add the correct display in all browsers.
 */
  /*
 * Remove outline for editable content.
 */
  /* Table */
  /* ============================================ */
  /* Misc */
  /* ============================================ */
  /**
 * Add the correct display in IE 10+.
 */
  /**
 * Add the correct display in IE 10.
 */
}

#content *,
#content ::before,
#content ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

#content html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

#content body {
  margin: 0;
}

#content main {
  display: block;
}

#content p,
#content table,
#content blockquote,
#content address,
#content pre,
#content iframe,
#content form,
#content figure,
#content dl {
  margin: 0;
}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

#content ul,
#content ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

#content dt {
  font-weight: bold;
}

#content dd {
  margin-left: 0;
}

#content hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

#content pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

#content address {
  font-style: inherit;
}

#content a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

#content abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

#content b,
#content strong {
  font-weight: bolder;
}

#content code,
#content kbd,
#content samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

#content small {
  font-size: 80%;
}

#content sub,
#content sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

#content sub {
  bottom: -0.25em;
}

#content sup {
  top: -0.5em;
}

#content img,
#content embed,
#content object,
#content iframe {
  vertical-align: bottom;
}

#content button,
#content input,
#content optgroup,
#content select,
#content textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

#content [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

#content [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

#content button,
#content input {
  /* 1 */
  overflow: visible;
}

#content button,
#content select {
  /* 1 */
  text-transform: none;
}

#content button,
#content [type="button"],
#content [type="reset"],
#content [type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

#content button[disabled],
#content [type="button"][disabled],
#content [type="reset"][disabled],
#content [type="submit"][disabled] {
  cursor: default;
}

#content button::-moz-focus-inner,
#content [type="button"]::-moz-focus-inner,
#content [type="reset"]::-moz-focus-inner,
#content [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

#content button:-moz-focusring,
#content [type="button"]:-moz-focusring,
#content [type="reset"]:-moz-focusring,
#content [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

#content select::-ms-expand {
  display: none;
}

#content option {
  padding: 0;
}

#content fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

#content legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

#content progress {
  vertical-align: baseline;
}

#content textarea {
  overflow: auto;
}

#content [type="number"]::-webkit-inner-spin-button,
#content [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

#content [type="search"] {
  outline-offset: -2px;
  /* 1 */
}

#content [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

#content ::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

#content label[for] {
  cursor: pointer;
}

#content details {
  display: block;
}

#content summary {
  display: list-item;
}

#content [contenteditable] {
  outline: none;
}

#content table {
  border-collapse: collapse;
  border-spacing: 0;
}

#content caption {
  text-align: left;
}

#content td,
#content th {
  vertical-align: top;
  padding: 0;
}

#content th {
  text-align: left;
  font-weight: bold;
}

#content template {
  display: none;
}

#content [hidden] {
  display: none;
}
/*# sourceMappingURL=reset.css.map */