/* ヘッダーボタン
----------------------------------------------- */
.head_btn_all {
	margin: 10px auto;
	padding:0;
}

.h_btn {
	margin:0 0 0 1px;
	padding:5px;
    width:61px;
    height:40px;
    float:left;
	text-align:center;
	background:#ebebeb;
}

.btn_cart {
    margin:0;
	padding:0;
	width:61px;
	height:50px;
	float:left;
}

.btn_cart a {
    margin:0;
    padding:20px 0 5px 0;
    width:61px;
	height:15px;
	font-size:10px;
	font-weight:bold;
    display:block;
	text-decoration:none;
	color:#535353;
    background:url("../img/icon/icon_cart.png") no-repeat 50% 2%;
}

.btn_touroku {
    margin:0;
	padding:0;
	width:61px;
	height:50px;
	float:left;
}

.btn_touroku a{
    margin:0;
    padding:20px 0 5px 0;
    width:61px;
	height:15px;
	font-size:10px;
	font-weight:bold;
    display:block;
	text-decoration:none;
	color:#535353;
    background:url("../img/icon/icon_entry.png") no-repeat 50% 2%;
}

.btn_mypage {
    margin:0;
	padding:0;
	width:61px;
	height:50px;
	float:left;
}

.btn_mypage a {
    margin:0;
    padding:20px 0 5px 0;
    width:61px;
	height:15px;
	font-size:10px;
	font-weight:bold;
	float:left;
    display:block;
	text-decoration:none;
	color:#535353;
    background:url("../img/icon/icon_content.png") no-repeat 50% 2%;
}

/* -------------------------------------------- */

/* メインボタン
----------------------------------------------- */

.nm_btn {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 34px;
	text-align: left;
    border-top: solid 1px #D9D9D9;
    background: #8d8d8d;
}

.nm_btn a {
    display: block;
    height: 33px;
    padding: 0px 26px 0px 10px;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
    background: url("../img/top/listarrow.png") no-repeat 95% 50%;
}

.sp_btn {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 34px;
	text-align: left;
	clear:both;
    border-top: solid 1px #000;
    background: #2f2f2f;
}

.sp_btn a {
    display: block;
    height: 33px;
    padding: 0px 26px 0px 10px;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:#fff;
    background: url("../img/top/listarrow.png") no-repeat 95% 50%;
}

.sp_btn #to_confirm_btn {
	display: block;
	height: 40px;
	padding: 0px 70% 0px 10px;
	text-decoration: none;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color:#fff;
	background: url("../img/top/listarrow.png") no-repeat 95% 50%;
	border-width: 0;
	cursor: pointer;
}

.ct_btn {
	width: 29%;
    list-style: none;
    margin: 2px;
    padding: 10px 0 10px 10px;
    font-size: 12px;
    border-top: solid 1px #000;
	text-align: left;
	float:left;
    background: #2f2f2f;
}

.ct_btn a {
    display: block;
    padding: 0px 26px 0px 0px;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:#fff;
    background: url("../img/top/listarrow.png") no-repeat 95% 50%;
}

.nx_btn {
	width:146px;
    list-style: none;
    margin: 2px;
    padding: 10px 0 10px 10px;
    font-size: 12px;
	text-align: right;
	float:right;
    border-top: solid 1px #000;
    background: #2f2f2f;
}

.nx_btn a {
    display: block;
    padding: 0 26px 0 0;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:#fff;
    background: url("../img/top/listarrow.png") no-repeat 95% 50%;
}
.nx_btn2 {
	
	width:146px;
    list-style: none;
    margin: 2px;
    font-size: 12px;
	text-align: right;
	float:right;
    border-top: solid 1px #000;
    background: #2f2f2f;
}

.nx_btn2 #to_confirm_btn,.nx_btn #to_confirm_btn {

	height: 40px;
	padding: 0px 26px 0px 90px;
	text-decoration: none;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color:#fff;
	background: url("../img/top/listarrow.png") no-repeat 95% 50%;
	border-width: 0;
	cursor: pointer;
}


.prv_btn {
	width:146px;
    list-style: none;
    margin: 2px;
    padding: 10px 0 10px 10px;
    font-size: 12px;
    border-top: solid 1px #000;
	text-align: left;
	float:left;
    background: #2f2f2f;
}

.prv_btn a {
    display: block;
    padding: 0 0 0 20px;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:#fff;
    float: left;
    background: url("../img/top/listarrow_prev.png") no-repeat 0% 50%;
}
.prv_btn2 {
	width:146px;
	height:15px;
    list-style: none;
    margin: 2px;
    padding: 12px 0 13px 10px;
    font-size: 12px;
    border-top: solid 1px #000;
	text-align: left;
	float:left;
    background: #2f2f2f;
}
.prv_btn2 a {
    display: block;
    padding: 0 0 0 20px;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:#fff;
    float: left;
    background: url("../img/top/listarrow_prev.png") no-repeat 0% 50%;
}
.btn_area {
	width:320px;
	margin: 10px auto;
	padding:0;
}
.btn_area2 {
	width:310px;
	margin: 10px auto;
	padding:0;
}

/* ボタン
----------------------------------------------- */
input[type='image'] { border: none }
input[type='image'].box190 {
    width: 150px;
    height: 30px;
}
input[type='image'].box180 {
    width: 140px;
    height: 30px;
}
input[type='image'].box150 {
    width: 130px;
    height: 30px;
}
input[type='image'].box140 {
    width: 140px;
    height: 30px;
}
input[type='image'].box130 {
    width: 130px;
    height: 30px;
}
input[type='image'].box51 {
    width: 180px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    margin-left: 5px;
}

div.tblareabtn {
    clear: both;
    margin: 15px 0 0 0;
    text-align: center;
}
div.tblareabtn1 {
    clear: both;
    margin: 15px 0 15px 0;
    text-align: center;
}
div.tblareabtn01 {
    clear: both;
    margin: 15px 0 15px 0;
    padding: 0 0 20px 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
div.tblareabtn02 {
    clear: both;
    margin: 15px 10px 10px 10px;
    padding: 10px 0px 0px 0px;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
div.tblareabtn03 {
    clear: both;
    margin: 10px 0 15px 0;
    padding: 0px;
    text-align: center;
}

/* LPフォーム用
----------------------------------------------- */
.upsell{
    width: 146px;
    display: block;
    text-align: center;
    list-style: none;
    margin: 5px auto;
    padding: 10px 0 10px 10px;
    font-size: 12px;
    background: #A4F6AB;
    border: solid 1px #00C700;
}
.upsell a{color: #429949;}

.lp_combtn {
width: 70%;
list-style: none;
margin: 15px auto;
padding: 9px 0;
font-size: 14px;
text-align: center;
color: #fff;
border: 1px dotted #666;

background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #28a108), color-stop(0.00, #64d549));
background: -webkit-linear-gradient(#64d549, #28a108);
background: -moz-linear-gradient(#64d549, #28a108);
background: -o-linear-gradient(#64d549, #28a108);
background: -ms-linear-gradient(#64d549, #28a108);
background: linear-gradient(#64d549, #28a108);
border: 1px solid #41b723;
box-shadow: 1px 1px 1px rgba(000,000,000,0.3);
-moz-box-shadow: 1px 1px 1px rgba(000,000,000,0.3);
-webkit-box-shadow: 1px 1px 1px rgba(000,000,000,0.3);

}

.lp_combtn a {  
    color: #fff;
}

.btn_ups{
   width:100%;
   margin:0 auto;
   text-align:center; 
}

