@charset "utf-8";

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


/* SSLバッジ
----------------------------------------------- */
ul.sslInfo {
    display: table;
    margin-top: 2em;
}

ul.sslInfo li {
    display: table-cell;
    vertical-align: middle;
}

ul.sslInfo li:first-of-type {
    width: 20%;
}

ul.sslInfo li:last-of-type {
    width: 75%;
    padding-left: 5%;
}

/*フォーム
----------------------------------------------- */
div#container {
    width: 100%;
}

#smp-lpshoppingcolumn {
    width: 98%;
    margin: 0 auto;
    padding: 1%;
    line-height: 1.3em;
    letter-spacing: 0.03em;
    font-size: 75%;
    color: #333;
}

#smp-lpshoppingcolumn dl {}

#smp-lpshoppingcolumn dt {
    font-weight: bold;
    padding: 10px 0 2px 0;
}

#smp-lpshoppingcolumn dl dd {
    margin-bottom: 10px;
    letter-spacing: 0;
}

#smp-lpshoppingcolumn select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#smp-lpshoppingcolumn .mgb20 {
    margin-bottom: 20px;
}


#smp-lpshoppingcolumn a {
    text-decoration: none;
}

#smp-lpshoppingcolumn em {
    font-style: normal;
    color: #E54848;
}

#smp-lpshoppingcolumn .focus {
    background-color: #fff0f5;
}

#smp-lpshoppingcolumn .chbox {
    vertical-align: middle;
    position: relative;
    left: 0;
    top: 0;
    margin-top: -4px;
}


/*区切り線
----------------------------------------------- */
.smp-lp-bottomline {
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

.smp-lp-bottomline02 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 0 0 0;
}

.smp-lp-bottomline03 {
    border-bottom: 1px solid #222;
    margin-bottom: 10px;
    padding: 0 0 10px 0;
}

.smp-lp-bottomline04 {
    border-bottom: 1px dotted #aaa;
    margin-bottom: 10px;
    padding: 5px 0 0 0;
}

.smp-lp-bottomline05 {
    border-top: 1px dashed #222;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 0 0 0;
}

.smp-lp-bottomline06 {
    border-top: 1px solid #222;
    margin-top: 10px;
    padding: 15px 0;
}

.smp-lp-noline {
    margin-top: 10px;
    padding: 10px 0 0;
    font-weight: bold;
    clear: both;
}

/*幅
----------------------------------------------- */
#smp-lpshoppingcolumn .w80p {
    width: 80px;
}

#smp-lpshoppingcolumn .w90p {
    width: 90px;
}

#smp-lpshoppingcolumn .w100p {
    width: 100px;
}

#smp-lpshoppingcolumn .w140p {
    width: 140px;
}

#smp-lpshoppingcolumn .w180p {
    width: 100%;
}

#smp-lpshoppingcolumn .w140p {
    width: 140px;
}

#smp-lpshoppingcolumn .w280p {
    width: 280px;
}

#smp-lpshoppingcolumn .w20 {
    width: 20%;
}

#smp-lpshoppingcolumn .w30 {
    width: 30%;
}

#smp-lpshoppingcolumn .w33 {
    width: 33.3%;
}

#smp-lpshoppingcolumn .w35 {
    width: 35%;
}

#smp-lpshoppingcolumn .w40 {
    width: 40%;
}

#smp-lpshoppingcolumn .w50 {
    width: 50%;
}

#smp-lpshoppingcolumn .w55 {
    width: 55%;
}

#smp-lpshoppingcolumn .w60 {
    width: 60%;
}

#smp-lpshoppingcolumn .w70 {
    width: 70%;
}

#smp-lpshoppingcolumn .w80 {
    width: 80%;
}

#smp-lpshoppingcolumn .w90 {
    width: 90%;
}

#smp-lpshoppingcolumn .w95 {
    width: 95%;
}

#smp-lpshoppingcolumn .w98 {
    width: 98%;
}

#smp-lpshoppingcolumn .w100 {
    width: 100%;
}

#smp-lpshoppingcolumn .w100mt {
    width: 100%;
    margin-top: 10px;
    font-weight: 100;
}

#smp-lpshoppingcolumn .h100 {
    height: 100%;
}

/*回り込み
----------------------------------------------- */
#smp-lpshoppingcolumn .fl30 {
    float: left;
    width: 30%
}

#smp-lpshoppingcolumn .fl50 {
    float: left;
    width: 50%
}

#smp-lpshoppingcolumn .fl60 {
    float: left;
    width: 60%
}

#smp-lpshoppingcolumn .fl80 {
    float: left;
    width: 80%
}

/*回り込み解除
----------------------------------------------- */
#smp-lpshoppingcolumn {
    clear: both;
}


/*間隔
----------------------------------------------- */
/*パディング*/
#smp-lpshoppingcolumn .pd_r {
    padding: 0 7px;
}

#smp-lpshoppingcolumn .pdr10 {
    padding: 0 10px 0 0;
}

#smp-lpshoppingcolumn .pdl10 {
    padding: 0 0 0 10px;
}

#smp-lpshoppingcolumn .pdr10 {
    padding: 0 10px 0 0;
}

#smp-lpshoppingcolumn .pdr20 {
    padding: 0 20px 0 0;
}

#smp-lpshoppingcolumn .pdrc50 {
    padding: 0 0 0 50px;
    color: #ff0000;
}

#smp-lpshoppingcolumn .pdt5 {
    padding: 5px 0 0 0;
}

#smp-lpshoppingcolumn .pdt10 {
    padding: 10px 0 0 0;
}

#smp-lpshoppingcolumn .pdt15 {
    padding: 20px 0 0 0;
}

#smp-lpshoppingcolumn .pdt20 {
    padding: 20px 0 0 0;
}

#smp-lpshoppingcolumn .pdt30 {
    padding: 30px 0 0 0;
}

#smp-lpshoppingcolumn .txt_area {
    padding-top: 10px;
}

#smp-lpshoppingcolumn .txt_area p {
    font-size: 0.83em;
    padding: 0;
}

#smp-lpshoppingcolumn .txt_sz {
    margin: 5px auto 10px auto;
    letter-spacing: 0em;
    font-size: 14px;
    font-weight: 500;
}

/*マージン*/
#smp-lpshoppingcolumn .mgt10 {
    margin-top: 10px;
}

#smp-lpshoppingcolumn .mgt15 {
    margin-top: 15px;
}

#smp-lpshoppingcolumn .mgb10 {
    margin-bottom: 10px;
}

#smp-lpshoppingcolumn .mgb15 {
    margin-bottom: 15px;
}

#smp-lpshoppingcolumn .mgtb10 {
    margin: 10px 0;
}

#smp-lpshoppingcolumn .mgrl10 {
    margin: 0 10px;
}

#smp-lpshoppingcolumn .mgl-15 {
    margin-left: -15px;
}

#smp-lpshoppingcolumn .pds10 {
    padding: 10px;
    font-size: 1em;
    line-height: 1.5em;
}

/*配置*/
#smp-lpshoppingcolumn .lp_ps {
    position: relative;
    top: -10px;
}

#smp-lpshoppingcolumn .lp_pst5 {
    position: relative;
    top: 5px;
}

#smp-lpshoppingcolumn .lp_pst10 {
    position: relative;
    top: 10px;
}

#smp-lpshoppingcolumn .lp_pst15 {
    position: relative;
    top: 15px;
}


/*フォント
----------------------------------------------- */
/*サイズ*/
#smp-lpshoppingcolumn .ft_s01 {
    font-size: 0.8em;
    padding: 5px;
    margin: 0;
}

#smp-lpshoppingcolumn .ft_s02 {
    font-size: 14px;
    padding: 5px 0;
    margin: 0;
    font-weight: bold;
}

#smp-lpshoppingcolumn .mgs {
    margin-right: 10px;
    font-weight: 700;
}


/*フォントカラー */
.smp_lp_red {
    letter-spacing: 0.0001rem;
    font-weight: 500;
    font-size: 12px;
}

/*フォント太さ*/
.sp_ftb {
    font-weight: bold;
}

.sp_ftn {
    font-weight: normal;
}


/*ボタン
----------------------------------------------- */
#smp-lpshoppingcolumn button {
    width: 100%;
}

#smp-lpshoppingcolumn .cycle_btn {
    width: 98%;
    display: inline-block;
    padding: 6px 0px 3px 0;
    border: 1px solid #ccc;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #f9f7f5), color-stop(0.54, #e9e9e9), color-stop(0.49, #e8e8e8), color-stop(0.45, #dbdbdb), color-stop(0.00, #f3f5f0));
    background: -webkit-linear-gradient(top, #f3f5f0 0%, #dbdbdb 45%, #e8e8e8 49%, #e9e9e9 54%, #f9f7f5 100%);
    background: -moz-linear-gradient(top, #f3f5f0 0%, #dbdbdb 45%, #e8e8e8 49%, #e9e9e9 54%, #f9f7f5 100%);
    background: -o-linear-gradient(top, #f3f5f0 0%, #dbdbdb 45%, #e8e8e8 49%, #e9e9e9 54%, #f9f7f5 100%);
    background: -ms-linear-gradient(top, #f3f5f0 0%, #dbdbdb 45%, #e8e8e8 49%, #e9e9e9 54%, #f9f7f5 100%);
    background: linear-gradient(to bottom, #f3f5f0 0%, #dbdbdb 45%, #e8e8e8 49%, #e9e9e9 54%, #f9f7f5 100%);
    color: #222;
    cursor: pointer;
    font-family: inherit;
    vertical-align: middle;
    margin: 10px auto;
    text-align: left;
    border-radius: 3px;
}

#smp-lpshoppingcolumn .register_btn {
    width: 99%;
    display: inline-block;
    padding: 10px 0px;
    border: 1px solid #666;
    background: #eee;
    color: #333;
    cursor: pointer;
    font-family: inherit;
    vertical-align: middle;
    margin: 0 auto 5px auto;
    text-align: center;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(000, 000, 000, 0.3);
    -moz-box-shadow: 1px 1px 1px rgba(000, 000, 000, 0.3);
    -webkit-box-shadow: 1px 1px 1px rgba(000, 000, 000, 0.3);
}

#smp-lpshoppingcolumn .deliv_btn {
    width: 99%;
    display: inline-block;
    padding: 10px 0px;
    border: 1px solid #666;
    background: #eee;
    color: #333;
    cursor: pointer;
    font-family: inherit;
    vertical-align: middle;
    margin: 10px auto 5px auto;
    text-align: center;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(000, 000, 000, 0.3);
    -moz-box-shadow: 1px 1px 1px rgba(000, 000, 000, 0.3);
    -webkit-box-shadow: 1px 1px 1px rgba(000, 000, 000, 0.3);
}

/*インプットタイプ
----------------------------------------------- */
#smp-lpshoppingcolumn input[type="radio"] {
    font-size: x-large;
    width: 15px;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    padding: 0;
    box-sizing: border-box;
    margin: 0 10px 0 15px;
    vertical-align: middle;
    position: relative;
    left: 0;
    top: 0;
}


#smp-lpshoppingcolumn input[type="checkbox"] {
    font-size: large;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    padding: 0;
    box-sizing: border-box;
    margin-left: 10px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px !important;
}


#smp-lpshoppingcolumn input[type="text"] {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #aaa;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px !important;
}

#smp-lpshoppingcolumn input[type="tel"] {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #aaa;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px !important;
}

#smp-lpshoppingcolumn input[type="email"],
#smp-lpshoppingcolumn input[type="password"] {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #aaa;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px !important;
}

#smp-lpshoppingcolumn textarea {
    width: 100%;
    height: 100px;
    padding: 5px;
    font-size: 0.9em;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px !important;
}

.reinput {
    font-size: 14px;
    margin-left: 0.2em;
    color: #565656;
}


/*ログイン、チェックボックス
----------------------------------------------- */
#smp-lpshoppingcolumn td input[type="checkbox"] {
    display: inline-block;
    margin-right: 10px;
}

#smp-lpshoppingcolumn input[type=checkbox]+label {
    position: relative;
    display: inline-block;
    /*font-size: 14px;*/
    line-height: 1.5rem;
    left: 0px;
    cursor: pointer;
}

/*支払い方法のラジオボタン*/
#payment_methods input[type="radio"] {
    display: inline-block;
    margin-right: 6px;
}


#payment_methods input[type=radio]+label {
    position: relative;
    display: inline-block;
    margin-right: 12px;
    line-height: 30px;
    left: 0;
    cursor: pointer;
}

@media (min-width: 1px) {

    /*定期選択時*/
    #payment_methods input[type=radio] {
        display: none;
        margin: 0;
    }

    #payment_methods input[type=radio]+label {
        padding: 3px 0 0 25px;
    }


    #payment_methods input[type=radio]+label::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;

        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        width: 18px;
        height: 18px;
        margin-top: -9px;

        background: #FFF;
    }

    #payment_methods input[type=radio]+label::before {
        border: 2px solid #ccc;
        border-radius: 30px;
    }

    #payment_methods input[type=radio]:checked+label::after {
        content: "";
        position: absolute;
        top: 50%;

        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
    }

    #payment_methods input[type=radio]:checked+label::after {
        left: 5px;

        width: 8px;
        height: 8px;
        margin-top: -4px;

        background: #3e86fc;
        border-radius: 8px;
    }

}


/*お届け間隔のラジオボタン
--------------------------------------------------*/
#regular-deliv_area input[type="radio"] {
    display: inline-block;
    margin-right: 6px;
}


#regular-deliv_area input[type=radio]+label {
    position: relative;
    display: inline-block;
    margin-right: 12px;
    font-size: 14px;
    line-height: 30px;
    left: 0;
    cursor: pointer;
}


@media (min-width: 1px) {

    /*定期選択時*/
    #regular-deliv_area input[type=radio] {
        display: none;
        margin: 0;
    }

    #regular-deliv_area input[type=radio]+label {
        padding: 3px 0 0 25px;
    }


    #regular-deliv_area input[type=radio]+label::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;

        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        width: 18px;
        height: 18px;
        margin-top: -9px;

        background: #FFF;
    }

    #regular-deliv_area input[type=radio]+label::before {
        border: 2px solid #ccc;
        border-radius: 30px;
    }

    #regular-deliv_area input[type=radio]:checked+label::after {
        content: "";
        position: absolute;
        top: 50%;

        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
    }

    #smp-lpshoppingcolumn input[type=radio]:checked+label::after {
        left: 5px;

        width: 8px;
        height: 8px;
        margin-top: -4px;

        background: #3e86fc;
        border-radius: 8px;
    }


    /*チェックボックス*/
    #smp-lpshoppingcolumn input[type=checkbox] {
        display: none;
        margin: 0;
    }


    #smp-lpshoppingcolumn input[type=checkbox]+label {
        padding: 0 0 0 25px;
    }

    #smp-lpshoppingcolumn input[type=checkbox]+label::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        width: 18px;
        height: 18px;
        margin-top: -9px;
        background: #FFF;
    }

    #smp-lpshoppingcolumn input[type=checkbox]+label::before {
        border: 2px solid #ccc;
    }

    #smp-lpshoppingcolumn input[type=checkbox]:checked+label::after {
        content: "";
        position: absolute;
        top: 50%;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
    }


    #smp-lpshoppingcolumn input[type=checkbox]:checked+label::after {
        left: 3px;
        width: 16px;
        height: 8px;
        margin-top: -8px;
        border-left: 3px solid #E71063;
        border-bottom: 3px solid #E71063;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}


/*-----------------------------------------------
セクション
----------------------------------------------- */
.smp-lp-section {
    overflow: hidden;
}

.smp-lp-section h2 {
    margin: 5px 0 0px 0;
    font-size: 1.2em;
    padding: 7px 0 0;
    color: #222;
    text-align: left;
}

.smp-lp-section h3 {
    margin: 5px 0 10px 0;
    font-size: 100%;
    padding: 7px 0;
    color: #333;
    text-align: left;
    border-bottom: .7vw solid #333;
}

.ui-dialog .smp-lp-section img {
    width: 90%;
}


img[alt="LPのステップ"] {
    display: block;
    margin: 0 auto;
}

/*-----------------------------------------------
商品名・数量
----------------------------------------------- */
#smp-lpshoppingcolumn .lp_detail {
    margin: 0 auto;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    color: #333;
}

#smp-lpshoppingcolumn .lp_detail ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: table;
}

#smp-lpshoppingcolumn .lp_detail ul li {
    margin: 0;
    padding: 0 5px 0 0;
    display: table-cell;
}

#smp-lpshoppingcolumn .lp_detail ul li:last-child {
    padding: 0 0 0 5px;
}


/*-----------------------------------------------
規格
----------------------------------------------- */

.smp-lp-classcategory {
    padding: 5px 5px 10px 5px;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
}

.smp-lp-classcategory h3 {
    background: #ccc;
    color: #333;
    padding: 2px;
}

.smp-lp-classcategory p {
    font-size: 14px;
    padding: 5px 0 0 0;
}

#smp-lpshoppingcolumn .bg_ct {
    padding: 0 5px;
    color: #333;
}


/*-----------------------------------------------
クラス（form）
----------------------------------------------- */
.smp-lp-submit {
    display: block;
    width: 100%;
    margin: 10px auto 0 auto;
    padding: 15px 0;
    text-align: center;
    font-weight: 500;
    font-size: 1.2em;
    color: #fff;
    line-height: 1em !important;
    border-radius: 4px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #28a108), color-stop(0.00, #64d549));
    background: -webkit-linear-gradient(#64d549, #28a108);
    background: -moz-linear-gradient(#64d549, #28a108);
    background: -o-linear-gradient(#64d549, #28a108);
    background: -ms-linear-gradient(#64d549, #28a108);
    background: linear-gradient(#64d549, #28a108);
    border: 1px solid #41b723;
    box-shadow: 1px 1px 1px rgba(000, 000, 000, 0.3);
    -moz-box-shadow: 1px 1px 1px rgba(000, 000, 000, 0.3);
    -webkit-box-shadow: 1px 1px 1px rgba(000, 000, 000, 0.3);
}

.smp-lp-submit a:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: “alpha(opacity=80)”;
}

.smp-lp-confirm {
    margin: 10px 0;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
}

.smp-lp-username,
.smp-lp-tel,
.smp-lp-birthday,
.smp-lp-credit {
    display: -webkit-box;
    display: -moz-box;
}

/*クレジット*/
.smp-lp-credit li {
    width: 20%;
    margin-right: 10px;
    list-style: none;
}

/*有効期限*/
.smp-lp-expiration {
    display: table;
    width: 100%;
}

.smp-lp-expiration li {
    width: 50%;
    padding: 0;
    margin-right: 10px;
    list-style: none;
    display: table-cell;
}


/*登録済みカード*/
.smp-lp-card {
    border-collapse: collapse;
    text-align: center;
}

.smp-lp-card th,
.smp-lp-card td {
    padding: 0 2px;
    font-size: .8rem;
    border: 1px solid #cccccc;
}

/*カード登録*/
.card-registration_memo {
    font-size: 0.8em;
    padding: 5px;
    margin: 0;
}


.smp-lp-birthday {
    margin: 0 auto;
    padding: 5px 0 10px 0;
    width: 100%;
    display: table;
}

/*カード名義*/
.smp-lp-username ul {
    width: 100%;
    overflow: hidden;
    list-style: none;
}

.smp-lp-username li {
    width: 50%;
    padding: 0;
}

/*郵便番号 */
.smp-lp-zipcode {
    display: -webkit-box;
    display: -moz-box;
    width: 100%;
    margin-top: 5px;
}

.smp-lp-zipcode ul {
    width: 100%;
    display: table;
}

.smp-lp-zipcode ul li {
    display: table-cell;
}

.smp-lp-zipcode span {
    padding: 0 7px 0 0;
}

/*郵便番号左右*/
#smp-lpshoppingcolumn .smp-lp-zipcode .add_fl {
    display: table-cell;
    width: 60%
}

#smp-lpshoppingcolumn .smp-lp-zipcode .add_fr {
    display: table-cell;
    smp-lp-zipcodewidth: 36%;
}

/*住所自動入力ボタン*/
#smp-lpshoppingcolumn .zip_button {
    margin: 0 auto;
    width: 100%;
    height: 40px;
    line-height: 10px;
    cursor: pointer;
    font-size: 15px;
    font-family: inherit;
    vertical-align: middle;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #28a108), color-stop(0.00, #64d549));
    background: -webkit-linear-gradient(#64d549, #28a108);
    background: -moz-linear-gradient(#64d549, #28a108);
    background: -o-linear-gradient(#64d549, #28a108);
    background: -ms-linear-gradient(#64d549, #28a108);
    background: linear-gradient(#64d549, #28a108);
    border: 1px solid #41b723;
    box-shadow: 1px 1px 1px rgba(000, 000, 000, 0.3);
    -moz-box-shadow: 1px 1px 1px rgba(000, 000, 000, 0.3);
    -webkit-box-shadow: 1px 1px 1px rgba(000, 000, 000, 0.3);

}

/*都道府県 */
.smp-lp-order_pref {
    width: 100%;
    position: relative;
}

#order_pref {
    height: 25px;
    padding-left: 0.8em;
    background: #fff;
}

#smp-lpshoppingcolumn .add_comment {
    font-size: 14px;
    padding: 5px 0 0 0;
    margin: 0;
    font-weight: bold;
}


/*女性・男性ボタン */
#order_sex_group {
    margin-top: 5px;
}

#order_sex_group input {
    display: none;
}

#order_sex_group label {
    display: table-cell;
    cursor: pointer;
    width: 100px;
    margin: 0;
    padding: 10px;
    background: #ddd;
    color: #767676;
    font-size: 16px;
    text-align: center;
    line-height: 1;
    transition: .2s;
    border-left: 1px solid #fff;
}

#order_sex_group label:first-of-type {
    border-radius: 3px 0 0 3px;
}

#order_sex_group label:last-of-type {
    border-radius: 0 3px 3px 0;
}

#order_sex_group input[type="radio"]:checked+.sex_male {
    background-color: #b1cf25;
    color: #fff;
}

#order_sex_group input[type="radio"]:checked+.sex_female {
    background-color: #e67168;
    color: #fff;
}


/*誕生月*/
.smp-lp-birthday ul {
    width: 100%;
    display: table;
}

.smp-lp-birthday li {
    display: table-cell;
}

/*性別*/
#order_sex li {
    width: 30%;
    float: lelft;
}


/*電話番号*/

.smp-lp-tel li,
    {
    width: 25%;
    margin-right: 10px;
    list-style: none;
}

/*パスワード*/
.psw_comment {
    font-size: 14px;
    margin-left: 0.5em;
    font-weight: normal;
    color: #565656;
}

.psw_comment2 {
    font-size: 14px;
    margin-top: 0.3em;
    font-weight: normal;
}


/*必須*/
.smp-lp-required {
    margin: 0;
    padding: 0 4px;
    color: #f00;
    font-size: 0.8em;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.05em;
}

/*エラー*/
.smp-lp-error {
    margin: 0;
    padding: 0 0 0 5px;
    display: block;
    color: rgb(255, 255, 255);
    background: rgb(255, 0, 0);
    line-height: 1.5rem;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
}


/*-----------------------------------------------
セレクト
----------------------------------------------- */

/*セレクト共通1*/
form .custom-select {
    display: inline-block;
    position: relative;
    background-color: white;
    border: 1px solid #c8c8c8;
    vertical-align: middle;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#smp-lpshoppingcolumn.ups_dialog .custom-select {
    z-index: 0;
    /* ダイアログ内のプルダウンが押せなくなるので対応 */
}

form .custom-select:before {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    border-left: 1px solid #aaa;
    padding: 0 0.35em;
    background: #b8b8b8 url(../img/common/select_arrow_sml.png) no-repeat center center;
    text-align: center;
    content: '';
    z-index: 1;
    pointer-events: none;
    box-shadow: 0px 0px 3px 0px rgba(000, 000, 000, 0.3);
    -moz-box-shadow: 0px 0px 3px 0px rgba(000, 000, 000, 0.3);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(000, 000, 000, 0.3);
}


form .custom-select select {
    display: block;
    width: 100%;
    padding: 0 50px 0 5px;
    height: 36px;
    margin: 0;
    background-color: transparent;
    border: 0 none;
    line-height: normal;
    box-shadow: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: 0.9em;
}


/*セレクト共通2*/
form .custom-select2 {
    display: inline-block;
    position: relative;
    background-color: white;
    border: 1px solid #c8c8c8;
    vertical-align: middle;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;

}

#smp-lpshoppingcolumn.ups_dialog .custom-select2 {
    z-index: 0;
    /* ダイアログ内のプルダウンが押せなくなるので対応 */
}

form .custom-select2:before {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    padding: 0 0.7em;
    background: #fff url(../img/common/select_arrow_sml2.png) no-repeat center center;
    text-align: center;
    content: '';
    z-index: 1;
    pointer-events: none;
}


form .custom-select2 select {
    display: block;
    width: 100%;
    padding: 0 30px 0 5px;
    height: 20px;
    margin: 0;
    background-color: transparent;
    border: 0 none;
    line-height: normal;
    box-shadow: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: 0.9em;
}


/*誕生月セレクト*/
form .birth-select,
form .birth-select-c {
    position: relative;
    background-color: white;
    border: 1px solid #c8c8c8;
    vertical-align: middle;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 1px 0 1px;
}

form .birth-select-c {
    margin: 0 1.9%;
}

form .birth-select:before,
form .birth-select-c:before {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    padding: 0 10px 0 20px;
    background: #b8b8b8 url(../img/common/select_arrow_sml.png) no-repeat center;
    border-left: 1px solid #aaa;
    text-align: center;
    content: '';
    z-index: 1;
    pointer-events: none;
    box-shadow: 0px 0px 3px 0px rgba(000, 000, 000, 0.3);
    -moz-box-shadow: 0px 0px 3px 0px rgba(000, 000, 000, 0.3);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(000, 000, 000, 0.3);
}

form .birth-select select,
form .birth-select-c select {
    display: block;
    width: 100%;
    height: 36px;
    margin: 0;
    padding: 0 0 0 10px;
    background-color: transparent;
    border: 0 none;
    line-height: normal;
    box-shadow: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: 0.9em;
}


/*定期購入セレクト*/
form .register-select {
    display: inline-block;
    position: relative;
    background-color: white;
    border: 1px solid #c8c8c8;
    vertical-align: middle;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

form .register-select :before {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    padding: 0 0.35em;
    background: #222000 url(../img/common/select_arrow_sml.png) no-repeat center;
    text-align: center;
    content: '';
    z-index: 1;
    pointer-events: none;
}


form .register-select select {
    display: block;
    width: 100%;
    padding: 0 50px 0 5px;
    height: 36px;
    margin: 0;
    background-color: transparent;
    border: 0 none;
    line-height: normal;
    box-shadow: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-appearance: none;
    -webkit-appearance: none;
}



/*その他セレクト*/
#smp-lpshoppingcolumn select {
    border: none;
    display: block;
    height: 36px;
    margin: 0;
    background-color: transparent;
    border: 0 none;
    line-height: normal;
    box-shadow: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-appearance: none;
    -webkit-appearance: none;

}


/*-----------------------------------------------
カレンダー
----------------------------------------------- */
.smp-block-calendar {
    width: 100%;
    text-align: center;
}

.smp-block-calendar table {
    width: 310px;
    border-collapse: collapse;
    margin: 0 auto 10px;
    text-align: center;
}

.smp-block-calendar th,
.smp-block-calendar td {
    padding: 4px;
    border: 1px solid #cccccc;
}

.smp-block-calendar th {
    color: #333333;
    background: #eeeeee;
}

.smp-block-calendar .off {
    color: #ff0000;
    background: #ffd3d8;
}

.smp-block-calendar caption {
    color: #333;
    font-size: 1.1em;
    padding: 10px 0;
}

/*-----------------------------------------------
必須ラベル ハイフンなし
----------------------------------------------- */
.smp-req {
    margin: 0 6px;
    padding: 1px 2px;
    color: #fff;
    font-size: 11px;
    font-weight: 100;
    background: #E54848;
    border-radius: 4px;
    letter-spacing: 0.05em;
    vertical-align: top;
    box-sizing: border-box;
    border: solid #F93030 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 0.3em;
}

.smp-any {
    margin: 0 6px;
    padding: 1px 2px;
    color: #fff;
    font-size: 70%;
    font-weight: bold;
    background: #999;
    border-radius: 3px;
    letter-spacing: 0.05em;
    vertical-align: top;
    box-sizing: border-box;
    border: solid #999 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 0.3em;
}

.nohyphen {
    margin-left: 0.3em;
    font-size: 14px;
    color: #565656;
    font-weight: normal;
}

.img-mid {
    margin: 0 auto;
    display: block;
    width: 100%;
}


/*ログイン(会員登録済)
----------------------------------------------- */
#smp-lpshoppingcolumn .lp-login p {
    padding: 0 5px;
}

#smp-lpshoppingcolumn .lp-login img {
    width: auto;
}

#smp-lpshoppingcolumn .lp-login .lp_button {
    display: block;
    padding: 5px 0;
    background: #444;
    border: 1px solid #444;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 500;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 1.2em;
}

#smp-lpshoppingcolumn .lp-login {}

#smp-lpshoppingcolumn .lp-login a {
    color: #06C;
    font-weight: normal;
}

#smp-lpshoppingcolumn .lp-login a:hover {
    color: #999;
    text-decoration: underline;
}

#smp-lpshoppingcolumn .lp-login_area {
    width: 98%;
    background: #f7f7f7;
    padding: 5px 10px 20px 10px;
    margin: 5px auto;
    text-align: left;
    font-weight: 500;
    letter-spacing: 0.02em;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(000, 000, 000, 0.3);
    -moz-box-shadow: 1px 1px 1px rgba(000, 000, 000, 0.3);
    -webkit-box-shadow: 1px 1px 1px rgba(000, 000, 000, 0.3);
}

#smp-lpshoppingcolumn .lp-login_area p {
    font-size: 0.8em;
    border: none;
    padding: 0;
    margin: 0;
}

#smp-lpshoppingcolumn .lp-login_area h3 {
    font-size: 0.9em;
    border: none;
    padding: 5px 0 0 0;
    margin: 0;
    font-weight: 500;
}

#smp-lpshoppingcolumn .lp-login_area ul {
    width: 100%;
    list-style: none;
}

#smp-lpshoppingcolumn .lp-login_area li {
    width: 100%;
    margin-top: 10px;
}

#smp-lpshoppingcolumn .register_comment {
    font-size: 14px;
    color: #E54848;
    text-align: center;
    font-weight: normal;
}

#smp-lpshoppingcolumn .lp-login_bottom {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}


/*お支払方法
-------------------------------------------------*/
#payment_area {
    font-size: 1.1em;
}

#payment_area #payment_methods {
    /*font-size:1rem;*/
    font-size: 4vw;
}

#payment_area #payment_methods dl {}

#payment_area #payment_methods dl dd {
    padding: 25px 8px;
    margin: 0 auto;
}

#payment_area #payment_methods dl dd label {}

/*コメント配置*/
#payment_area #payment_methods em {
    font-style: normal;
    color: #E54848;
    font-size: 13px;
    line-height: 1rem;
    letter-spacing: 0.0001rem;
}

/*画像*/
#payment_area #payment_methods .smp-lp-payment_image {
    margin: 0 auto;
    padding: 15px 0 0 0;
    max-width: 100%;
    /* width: 90%; */
    /* text-align: center; */
}

#payment_area .bg_pay {
    margin-top: 10px;
    border: none;
    border-radius: 0 !important;
    padding: 2%;
    background: #EEF5FB;
    border-radius: 5px;
}


/*お届け間隔の指定
------------------------------------------------*/
#regular-deliv_area {}

#regular-deliv_area dl {}

#regular-deliv_area dl dt {
    padding: 0;
}


#regular-deliv_area dl dd {
    border-bottom: 1px dotted #aaa;
    padding: 8px;
    margin: 0 auto;
}

#regular-deliv_area dl dd p {
    padding-bottom: 5px;
}

.cycle_form {
    margin-top: 10px;
}

/*お届け最短希望日*/
#regular-short_date {
    clear: both;
    margin: 10px 0 0 0;
    overflow: hidden;
}

#regular-short_date .ft_s {
    font-size: 14px;
    padding: 0;
    margin: 0;
    color: #E54848;
    letter-spacing: 0.0001rem;
}

/*最短で届けする*/
.short_delivebox {
    margin-bottom: 5px;
    padding: 7px 5px;
    background: #f6f6f6;
    overflow: hidden;
}


#regular-short_date .short_delivebox label {
    width: 100%;
}

/*お届け予定日*/
#regular-delive_date {
    clear: both;
}

.regular_deliv_day {
    color: #c30;
}

/*お届け希望日フォント*/
#smp-lpshoppingcolumn .txt_b {
    font-weight: 500;
    font-size: 14px;
    padding: 0;
    color: #333;
}

#smp-lpshoppingcolumn .txt_b2 {
    font-weight: 600;
    font-size: 14px;
    padding: 5px;
    color: #333;
}

#regular-delive_date ul {
    width: 100%;
}

#regular-delive_date ul li {
    margin: 5px 0;
}

#regular_deliv_day_first {
    border-left: 1px dotted #ccc;
    padding-left: 5px;
    padding-right: 5px;
}

#regular_deliv_day_second {
    border-left: 1px dotted #ccc;
    padding-left: 5px;
    padding-right: 5px;
}

#regular-delive_date .delivday_box {
    border: 1px solid #ccc;
    padding: 10px;
    background: #f2fafe;
}

/*上記と別の住所へお届けする
------------------------------------------------*/
#smp-lpshoppingcolumn #lp-deliv {
    background-color: #EEF5FB;
    padding: 2%;
    margin: 5px auto;
    border-radius: 3px;
}

#smp-lpshoppingcolumn #lp-deliv dt {
    font-weight: bold;
    padding: 10px 0 2px 0;
}

#smp-lpshoppingcolumn #lp-deliv .smp-lp-bottomline {
    border-top: 2px solid #FFF;
    margin-top: 10px;
    padding: 10px 0;
}



/*上記住所へお届けする*/
.deliv_check_comment {
    color: #E54848;
    font-size: 0.8rem;
    letter-spacing: 0.001rem;
    font-weight: normal;
    text-align: center;
}



/*お届け希望日時
----------------------------------------------- */
#deliv_time_area {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

#deliv_time_area dt {
    font-size: 14px;
    font-weight: 600;
    padding: 0;
}

#deliv_time_area dd {
    margin-bottom: 0;
    letter-spacing: 0;
}

/*クーポン
------------------------------------------------*/
#coupon_area {
    width: 100%;
}

#coupon_area dl {
    width: 100%;
    padding: 0;
    margin: 0 auto 10px auto;
    border-bottom: 1px solid #ccc;
}

#coupon_area dt {
    padding: 0 0 20px 0;
}

#entry_coupon_td dt p {
    font-size: 16px;
    padding: 5px 0;
    margin: 0;
    font-weight: normal;
}

/*適用*/
#coupon_area .cupon_btn {
    padding: 3px;
    text-decoration: none;
    border: 1px solid #ddd;
    position: relative;
    top: 10px;
    color: #313131;
    display: inline_block;
    margin: 0 auto;
    cursor: pointer;
    font-weight: normal;
    font-size: 100%;
    white-space: normal;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #f1f1f1;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f1f1f1));
    background: -webkit-linear-gradient(top, #fff, #f1f1f1);
    background: -moz-linear-gradient(top, #fff, #f1f1f1);
    background: -o-linear-gradient(top, #fff, #f1f1f1);
    background: -linear-gradient(top, #fff, #f1f1f1);
    background: kground: linear-gradient(top, #fff, #f1f1f1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    overflow: hidden;
}


/*解除*/
#coupon_discount_tr {
    padding: 5px;
    color: #c30;
}

#coupon_area .cupon_rebtn {
    padding: 3px;
    text-decoration: none;
    border: 1px solid #ddd;
    position: relative;
    top: 10px;
    color: #313131;
    margin: 0 auto;
    cursor: pointer;
    font-weight: normal;
    font-size: 100%;
    white-space: normal;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #f1f1f1;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f1f1f1));
    background: -webkit-linear-gradient(top, #fff, #f1f1f1);
    background: -moz-linear-gradient(top, #fff, #f1f1f1);
    background: -o-linear-gradient(top, #fff, #f1f1f1);
    background: -linear-gradient(top, #fff, #f1f1f1);
    background: kground: linear-gradient(top, #fff, #f1f1f1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    overflow: hidden;
}


/*お問い合わせ
------------------------------------------------*/
#smp_lpmessage {}

#smp_lpmessage dl dd {
    margin-bottom: 10px;
    letter-spacing: 0;
}

#smp_lpmessage em {
    padding: 0;
    font-size: 12px;
}


/*個人情報のお取り扱い
------------------------------------------------*/
#smp-lpshoppingcolumn .ft_bold {
    font-weight: bold;
    color: #333;
}

#smp-lpshoppingcolumn .ft_s03 {
    /*text-align:center;
    font-size: 90%;*/
    padding: 0;
    margin: 0 auto 10px 0;
    font-weight: 500;
    letter-spacing: 0.0001rem;
    clear: both;
}

#smp-lpshoppingcolumn .ft_s03 a {
    color: #06C;
    text-decoration: underline;
}

#smp-lpshoppingcolumn .ft_s03 a:hover {
    color: #aaa;
    text-decoration: underline;
}

#smp-lpshoppingcolumn .smp_lp_red2 {
    background: #ffffd9;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    margin: 0 auto;
    padding: 5px 0 5px 0;
    border-bottom: 1px dotted #aaa;
    background-color: white;
    overflow: hidden;
}

/**************************************
		新規追加
**************************************/

.h_form {
    position: relative;
    background: #072874;
    text-align: center;
    margin: 38px 0 0 0;
    padding: 2% 0;
    font-size: 4.5vw;
    letter-spacing: 1.5px;
    color: #fff;
}

.h_form::after {
    content: "";
    position: absolute;
    bottom: -33px;
    left: 46%;
    border: 20px solid transparent;
    border-top: 15px solid #072874;
}

/* クレジットおススメクリエイティブ */

.rCre {
    width: 97%;
    margin: 5% auto;
}

.rCre img {
    width: 100%;
    height: auto;
}

/* おまとめ */
#derivarySpan60,
#derivarySpan90,
#derivarySpan120 {
    display: none;
}

/* 個数選択削除 */
#smp-lpshoppingcolumn .w70 {
    width: 100%;
}

#smp-lpshoppingcolumn .lp_detail .w30 {
    display: none;
}

/*****************************************
			共通バナー
*****************************************/

.bnMg01 {
    margin: 5.333vw 0;
    text-align: center;
}

.bnMg02 {
    margin: 8vw 0;
    text-align: center;
}

.bnMg03 {
    margin: 10.666vw 0;
    text-align: center;
}

.bnMgb0 {
    margin-bottom: 0;
}

.bnMgt0 {
    margin-top: 0;
}

/**/
.cng_payment_link {
    padding: 5px;
    width: 130px;
    font-size: 11px !important;
    text-align: center;
    border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-border-radius: 4px;
    border: 2px solid #f6f6f6;
    background-color: #f6f6f6;
    float: right;
}

.cng_payment_link p {
    font-size: 10px;
}

.ui-dialog .product_name {
    margin-top: 7px;
}

#smp-lpshoppingcolumn #confirm_submit_image {
    margin: 0 auto;
    width: 85%;
    height: 7.5vh;
    line-height: 10px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    font-family: inherit;
    vertical-align: top;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #28a108), color-stop(0.00, #64d549));
    background: -webkit-linear-gradient(#64d549, #28a108);
    background: -moz-linear-gradient(#64d549, #28a108);
    background: -o-linear-gradient(#64d549, #28a108);
    background: -ms-linear-gradient(#64d549, #28a108);
    background: linear-gradient(#64d549, #28a108);
    border: 1px solid #41b723;
    box-shadow: inset 0 0 9px 0px rgb(255, 255, 255), 2px 2px 5px rgba(000, 000, 000, 0.4);
    -moz-box-shadow: inset 0 0 9px 0px rgb(255, 255, 255), 2px 2px 5px rgba(000, 000, 000, 0.4);
    -webkit-box-shadow: inset 0 0 9px 0px rgb(255, 255, 255), 2px 2px 5px rgba(000, 000, 000, 0.4);
}


/* フォーム改修 200915
----------------------------------------------- */
/*メールアドレス入力欄下部に　文言追加*/
dl#lp-not-login input#order_email+.smp-lp-error+p:after {
    display: block;
    content: '※利用規約に同意して注文を確定すると、当社からの広告宣伝メールの受信に同意したこととなります。';
    color: #E54848;
    padding-top: 5px;
    font-size: 14px;
}

/*お届け先の確認の削除*/
#deliv_check_area {
    position: absolute;
    left: -9999px;
}

/*住所入力欄下部に　文言追加*/
input#order_addr02+span.smp-lp-error+p.smp_lp_red:after {
    content: '配送についてのご要望などはメールでお願いします。';
    padding-top: 5px;
    display: block;
}


.step-area {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.step-area .step-dot {
    position: relative;
    color: #aaa;
    top: 10px;
}

.step-area .step-section {
    width: 40px;
    text-align: center;
}

.step-area section.step-circle {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #aaa;
    text-align: center;
}

.step-area section .step-circle-text {
    top: 7px;
    font-weight: bold;
    position: relative;
    font-size: 11px;
    color: #fff;
    line-height: 15px;
    letter-spacing: normal;
}

.step-area .step-caption {
    color: #aaa;
    letter-spacing: -1px;
    font-size: 10px;
    font-weight: bold;
}

.step-area .step-section.active section.step-circle {
    background: #000;
}

.step-area .step-section.active .step-caption {
    color: #000;
}

.ui-dialog #payment_txt {
    font-size: 14px;
}

#order_sex_group {
    display: flex;
}

.custom-select.ps01 {
    width: 100%;
}

#smp-lpshoppingcolumn .w90 {
    width: 100%;
}

.smp_lp_red {
    color: red;
}