@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
table,
img,
p { border: 0 }
body {
    font-family: 'ＭＳ Ｐゴシック',Arial,Helvetica,sans-serif, HiraKakuProN-W3,HiraKakuProN-W6;
    width: 100%;
    _width: 100%;
    text-align: center;
    margin: 0px 0px auto;
    color: #555555;
    background-color: #ffffff;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 1px;
    font-weight: normal;
}
img { border: 0px }
li { list-style-type: none; }
select { border: solid 1px #ccc; }
/*PHOTO*/
.picture { border: 1px solid #ccc; }
/* フロート回り込み解除
----------------------------------------------- */
br.clear {
    clear: both;
    display: none;
    font-size: 0px;
    line-height: 0%;
    height: 0px;
}
/* リンク指定
----------------------------------------------- */
a { text-decoration: underline; }
a:link { color: #3a75af; }
a:visited { color: #3a75af; }
a:hover { color: #ff6600; }
/* フォント
----------------------------------------------- */
h1,
h2,
h3,
h4,
h5 {
    font-size: 100%;
    line-height: 150%;
}
.price {
    color: #ff0000;
    font-weight: bold;
}
.price1 {
    color: #ff0000;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0px;
}
.attention { color: #ff0000; }
.mini {
    text-align: right;
    padding-right: 5px;
}
.mini1 {
    font-size: 100%;
    text-align: left;
}
.mini2 {
    font-size: 85%;
    text-align: left;
    padding-left: 5px;
}
em {
    font-style: normal;
    color: #ff0000;
}
div#red01 { color: #ff0000; }
/* テーブル共通指定
----------------------------------------------- */
table {
    margin: 15px auto 0 auto;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-collapse: collapse;
    text-align: left;
}
table th {
    padding: 4px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f0f0f0;
    font-weight: normal;
}
table td {
    padding: 8px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
div.tblareabtn {
    clear: both;
    margin: 15px 0 0 0;
    text-align: center;
}
div.tblareabtn1 {
    clear: both;
    margin: 15px 0 15px 0;
    text-align: center;
}
div.tblareabtn01 {
    clear: both;
    margin: 15px 0 15px 0;
    padding: 0 0 20px 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
div.tblareabtn02 {
    clear: both;
    margin: 15px 10px 10px 10px;
    padding: 10px 0px 0px 0px;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
div.tblareabtn03 {
    clear: both;
    margin: 10px 0 15px 0;
    padding: 0px;
    text-align: center;
}
.phototd {
    width: 75px;
    text-align: center;
}
.centertd { text-align: center; }
.lefttd { text-align: left; }
.righttd { text-align: right; }
.pricetd {
    text-align: right;
    color: #ff0000;
    font-weight: bold;
    font-size: 12px;
    margin: 0px;
}
.pricetd02 {
    text-align: right;
    color: #ff0000;
    font-weight: bold;
    font-size: 14px;
    margin: 0px;
    padding: 5px 0px;
}
.pricetd em { font-weight: bold; }
div#completetext {
    width: 300px;
    margin: 15px auto 0 auto;
    padding: 5px;
    border: 1px solid #ccc;
}
div#completetext em { font-weight: bold ;}
div#completetext p {
    padding: 20px 0 0 0;
    text-align: left;
}
/* 区切り線
------------------------------------------------ */
div.line {
    margin: 5px 0px;
    border: 1px solid #cccccc;
}
/* ヘッダーロゴ
------------------------------------------------ */
div#header {
    width : 320px;
    text-align: center;
    height: auto;
    margin:0 auto 5px auto;
    padding: 5px 0 0 0;
}
div#header_left {
    width: 320px;
    float: left;
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-style: normal;
    list-style: none;
}
/* ヘッダーナビ
----------------------------------------------- */
div#nav {
    width: 320px;
    height:60px;
    margin: 5px auto 10px auto;
    padding: 2px 0 1px 0;
    clear: both;
    text-align: center;
}
div#nav ul {
    margin: 0px 0 10px 0;
    padding: 0;
}
div#nav ul li {
    width:106px;
    text-align:center;
    float: left;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-weight: bold;
}
div#nav li a { text-decoration: none; }
div#nav ul img {
    margin: 0px;
    padding: 0px;
}
/* フレーム
----------------------------------------------- */
div#container {
    width: 320px;
    margin: 0 auto;
    padding: 0px;
    background-color: #fff;
    text-align: left;
}
#container:after {
    /* firefox背景色表示用 */
    content: "";
    display: block;
    clear: both;
    height: 1px;
    overflow: hidden;
}
div#leftcolumn {
    float: left;
    width: 166px;
}
div#leftcolumn h2 { padding: 15px 0 0 0; }
div#rightcolumn {
    float: left;
    width: 166px;
}
div#rightcolumn h2 { padding: 15px 0 0 0; }
/* メインコンテンツ
----------------------------------------------- */
/* 3カラム設定 */
div#three_maincolumn {
    float: left;
    width: 432px;
    padding: 15px 0 0 0;
}
div#three_maincolumn h2 { padding: 15px 0 0 0; }
/* 2カラム設定 */
div#two_maincolumn {
    float: left;
    width: 598px;
    padding: 15px 0 0 0;
}
div#two_maincolumn h2 { padding: 15px 0 0 0; }
/* 1カラム設定 */
div#one_maincolumn { padding: 10px 0 0 0; }
/* 検索
----------------------------------------------- */
div#searcharea {
    width: 310px;
    margin: 5px 4px;
    padding: 0px 0px;
    border: solid 1px #ccc;
    text-align: center;
}
div#searcharea p {
    margin: 0px;
    padding: 8px 0 0 0;
}
div#searcharea img {
    margin: 5px 0px;
    padding: 0 5px 0 0;
    vertical-align: bottom;
}
div#searcharea .btn {
    text-align: center;
    margin: 5px;
    padding: 0px;
}
#searcharea .box142 {
    width: 290px;
    height: 25px;
    border: solid 1px #ccc;
}
#searcharea .box143 {
    width: 160px;
    height: 25px;
    margin-top: 5px;
    border: solid 1px #ccc;
}
/* カゴの中
----------------------------------------------- */
div#cartarea {
    width: 310px;
    margin: 5px 4px;
    padding: 0px 0px;
    text-align: center;
    font-size: 100%;
    border: 1px solid #d7d7d7;
    word-break: break-all;
}
div#cartarea h2 {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    background: url("../img/top/background_01.jpg");
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}
div#cartarea p {
    margin: 0;
    padding: 5px 0 10px 0;
}
div#cartarea p.item {
    margin: 0;
    padding: 5px 0 10px 0;
    background: url("../img/side/line_146.gif") no-repeat bottom;
}
div#cartarea .btn {
    margin: 0;
    padding: 5px 0px;
    text-align: center;
}
/* カテゴリー
----------------------------------------------- */
div#categoryarea {
    width: 310px;
    margin: 5px 3px;
    padding: 0px 0px;
    border: solid 2px #f7a01c;
    text-align: left;
}
div#categoryarea h2 {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    background: url("../img/top/background_01.jpg");
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}
div#categoryarea li {
    list-style: none;
    font-family: HiraKakuProN-W6;
    font-size: 14px;
    line-height: 44px;
}
div#categoryarea li a {
    display: block;
    height: 43px;
    padding: 0px 26px 0px 10px;
    background-image: url("../img/top/listarrow.png");
    background-repeat: no-repeat;
    background-position: right;
    text-decoration: none;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
div#categoryarea li.level1 {
    font-weight: bold;
    border-bottom: solid 1px #D9D9D9;
}
div#categoryarea li.level1 li { font-weight: normal; }
a.onlink { text-decoration: underline; }
a.onlink:link { color: #ff0000; }
a.onlink:visited { color: #ff0000; }
a.onlink:hover { color: #ff0000; }
.cate_margin { margin-left: 10px; }
/* ガイドリンク
----------------------------------------------- */
div#guidearea {
    width: 310px;
    margin: 5px 4px;
    padding: 0px 0px;
    border: solid 1px #ccc;
    text-align: center;
}
div#guidearea li {
    list-style: none;
    font-family: HiraKakuProN-W6;
    font-size: 14px;
    line-height: 34px;
    text-align: left;
    background-color: #f5f4f3;
}
div#guidearea li a {
    display: block;
    height: 34px;
    padding: 0px 26px 0px 10px;
    background-image: url("../img/top/listarrow.png");
    background-repeat: no-repeat;
    background-position: right;
    text-decoration: none;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
div#guidearea li.level1 {
    font-weight: bold;
    border-bottom: solid 1px #D9D9D9;
}
div#guidearea li.level1 li { font-weight: normal; }
div#guidearea a.onlink { text-decoration: underline; }
div#guidearea a.onlink:link { color: #f9b33c; }
div#guidearea a.onlink:visited { color: #f9b33c; }
div#guidearea a.onlink:hover { color: #f9b33c; }
div#guidearea .cate_margin { margin-left: 10px; }
/* ログイン
----------------------------------------------- */
div#loginarea {
    width: 310px;
    margin: 5px 4px;
    padding: 0px 0px;
    border: solid 1px #ccc;
    text-align: center;
}
div#loginarea h2 {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    background: url("../img/top/background_01.jpg");
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}
div#loginarea p {
    text-align: left;
    margin: 0;
    padding: 3px 0px 3px 5px;
    font-size: 12px;
}
div#login {
    margin-bottom: 5px;
    padding: 5px 0px 0px 0px;
}
div#login img {
    padding: 0 5px 0 0;
    vertical-align: bottom;
}
div#loginarea .btn {
    margin: 0px;
    padding: 0px 0px 5px 0px;
    text-align: center;
}
#loginarea .box96 {
    width: 240px;
    height: 25px;
    border: solid 1px #ccc;
}
#loginarea li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: HiraKakuProN-W6;
    font-size: 12px;
    border-top: solid 1px #D9D9D9;
    background-color: #f5f4f3;
    line-height: 34px;
    text-align: left;
}
div#loginarea li a {
    display: block;
    height: 33px;
    padding: 0px 26px 0px 10px;
    background-image: url("../img/top/listarrow.png");
    background-repeat: no-repeat;
    background-position: right;
    text-decoration: none;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
a.onlink { text-decoration: underline; }
a.onlink:link { color: #ff0000; }
a.onlink:visited { color: #ff0000; }
a.onlink:hover { color: #ff0000; }
.cate_margin { margin-left: 10px;}
/* カレンダー
----------------------------------------------- */
#block-calendar {
    width: 310px;
    text-align: center;
    margin: 5px auto 0px 5px;
}
#block-calendar table {
    width: 310px;
    border-collapse: collapse;
    margin: 0 auto 10px;
    text-align: center;
    font-size: 120%;
}
#block-calendar th,
#block-calendar td {
    padding: 4px;
    border: 1px solid #CCCCCC;
}
#block-calendar th {
    background: #f4a01b;
    color: #FFFFFF;
}
#block-calendar .off {
    background: #faecaf;
    color: #ff0000;
}
#block-calendar caption { color: #DD4400; }
/* バナー
----------------------------------------------- */
ul#banner { padding: 15px 0 0 0; }
#banner li { padding: 0 0 10px 0; }
/* テキストフィールド
----------------------------------------------- */
input[type='text'] { border: solid 1px #ccc; }
/* ボタン
----------------------------------------------- */
input[type='image'] { border: none; }
input[type='image'].box190 {
    width: 150px;
    height: 30px;
}
input[type='image'].box180 {
    width: 140px;
    height: 30px;
}
input[type='image'].box150 {
    width: 130px;
    height: 30px;
}
input[type='image'].box140 {
    width: 140px;
    height: 30px;
}
input[type='image'].box130 {
    width: 130px;
    height: 30px;
}
input[type='image'].box51 {
    width: 180px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    margin-left: 5px;
}
/* フッター
----------------------------------------------- */
#pagetop {
    width: 310px;
    margin: 0 10px 0px 0px;
    padding: 5px 0px 10px 0px;
    background-color: #fff;
    text-align: right;
    font-size: 12px;
    font-weight: bold;
}
#pagetop a { text-decoration: none; }
div#fotter {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 5px 0px;
    border-top: 1px solid #f8a340;
    background-color: #ff9715;
    font-size: 12px;
    color: #ffffff;
    clear: both;
}
/* エラー
----------------------------------------------- */
#compbox {
    width: 300px;
    margin: 5px 4px;
    padding: 50px 3px;
    border: solid 3px #ccc;
    text-align: center;
}

